# specific to each app instance
/config/database.yml

# avoid secrets in source control
/config/secrets.yml

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

# Ignore prod analytics
/app/views/layouts/_ga_prod.html.erb

# Never store production env file
.env.prod
