<div class="container-sm">
  <h4>About</h4>

  <p class="lead">
    AbhinavNepal collects Nepali scholars and scientists working all over the world in any academic fields. Having a PhD is neither a necessary nor a sufficient condition for making into the list. The person must be active, contributing to the research community, and society by regularly publishing papers. Thus, someone who is working in an industry but regularly publishes scientific articles related to their work will also be enlisted.
  </p>

  <p class="lead">
    AbhinavNepal was initiated by <%= link_to "Bishesh Khanal", "https://bishesh.github.io", target: "_blank" %> in April 2017 when a list of around 70 Nepali scholars and scientists were published in a single webpage. The idea was to create a large database with the help of crowdsourcing. Although anyone could add new scholars to that webpage, it was not convenient updating it via github. <br />
    Towards the end of 2017, <%= link_to "Biwek Shrestha", "http://biwek.com", target: "_blank" %> proposed building a dynamic app so that it would be much easier for anyone to add new scholars via a simple form, backed by a database for better data collection and other benefits it brought along. He also worked on the design and development of the system which has resulted on the current form of the website.
  </p>

  <p class="lead">
    AbhinavNepal is an <%= link_to "open source application", "https://github.com/AbhinavNepal/abhinav-nepal", target: "_blank" %> and is free to use. It is licensed under the MIT License.
  </p>
</div>
