<div class="container-sm">
  <h4>Privacy Policy</h4>

  <p class="lead">
    All the information in this website are collected from public websites such as google scholar, researchgate and personal/academic websites of the related people. <br />
    The collective information produced as a result of the resources in this website, and any new information/data that uses these resources should always be open and freely available.
  </p>

  <p class="lead">
    Please don't hesitate to contact us if you feel any of the added details are incorrect or you’d like your details to be completely removed.
  </p>
</div>
