.biology_medicine { color: $turquoise; }
.chemistry { color: $carrot; }
.environmental_energy_science { color: $nephritis; }
.economics_trade_finance_business { color: darken($greensea, 5%);; }
.informatics_computation { color: $alizarin; }
.maths_physics { color: $wisteria; }
.mechanical_civil_aerospace { color: $pomegranate; }
.public_health { color: $belizehole; }
.education { color: $peterriver; }
.food_sciences { color: darken($sunflower, 1%); }
