.scholars {
  form {
    input.form-control { height: 35px; }
  }

  .scholar-search-info {
    a:hover {
      text-decoration: none;
      color: #0056b3 !important;
    }
  }

  .card {
    .root_discipline { font-size: 14px; }
    a:not(.btn) { font-weight: 500; }
  }
}
