.scholars {
  form#scholar_search {
    .select2-container .select2-selection--single { height: 38px !important; }
    .select2-container--default .select2-selection--single {
      border: 1px solid #ced4da;
      .select2-selection__arrow { height: 35px; }
      .select2-selection__rendered { line-height: 38px; }
    }
  }

  .scholar-search-info {
    a:hover {
      text-decoration: none;
      color: #0056b3 !important;
    }
  }
}
