<% if @searching && scholars.first_page? %>
  <div class="scholar-search-info mb-3">
    <div class="clearfix small">
      <span class="text-muted"><%= t(".result_count_html", count: scholars.total_count) %></span>
      <%= link_to fa_icon("window-close", text: "Clear filter"), scholars_path(tab: @tab), class: "float-right text-muted" %>
    </div>
    <hr />
  </div>
<% end %>

<div class="row">
  <%= render scholars.shuffle %>
</div>
