<% @scholars.in_groups_of(3).each do |grouped_scholars| %>
  <div class="row">
    <% grouped_scholars.compact.each do |scholar| %>
      <div class="col-md-4">
        <%= render "scholar", scholar: scholar %>
      </div>
    <% end %>
  </div>
<% end %>
