<% if @searching %>
  <div class="scholar-search-info mb-3">
    <div class="clearfix">
      <span class="text-muted"><%= t(".result_count_html", count: scholars.length) %></span>
      <%= link_to fa_icon("window-close", text: "Clear filter"), scholars_path, class: "float-right text-muted" %>
    </div>
  </div>
<% end %>

<% @scholars.in_groups_of(3).each do |grouped_scholars| %>
  <div class="row">
    <% grouped_scholars.compact.each do |scholar| %>
      <div class="col-md-4">
        <%= render "scholar", scholar: scholar %>
      </div>
    <% end %>
  </div>
<% end %>
