<div class="container-sm">
  <h4><%= t ".title" %></h4>
  <div class="alert alert-info">
    <%= t ".warning_html" %>
  </div>

  <hr />

  <%= simple_form_for setup_scholar(@scholar), html: {id: "scholar-form"} do |f| %>
    <%= render "form", f: f %>
  <% end %>
</div>
