.navbar {
  padding: 8px 10px !important;

  .navbar-nav .active > a.nav-link { color: #ededed !important; }
  a.nav-link {
    font-size: 14px;
    font-weight: 600;
  }
  .navbar-toggler {
    border: 0px;
    padding: 0px;
    &:focus { outline: 0; }
  }
}

p, .alert { font-size: 14px; }
.card .card-body { padding: 0.75em; }

.container-sm {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.dotDivider {
  padding-right: 0.3em;
  padding-left: 0.3em;
  font-size: 12px;
  color: #6c757d;
  &:after { content: '\00B7'; }
}

.site-footer {
  font-size: 12px;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  border-top: 1px solid #eee;
  a {
    color: #65676b;
    &:hover { color: #171b1f }
  }
}
