p, .alert {
  font-size: 14px;
}

.site-footer {
  font-size: 12px;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  border-top: 1px solid #eee;
  a {
    color: #65676b;
    &:hover { color: #171b1f }
  }
}
